{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Password Changed" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-header text-white text-center py-3">
                    <h3 class="mb-0">{% trans "Password Changed" %}</h3>
                </div>
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <p>{% trans 'Your password has been successfully changed.' %}</p>
                    </div>
                    
                    <div class="d-grid">
                        <a href="{% url 'account_login' %}" class="btn btn-primary py-2">{% trans "Sign In with New Password" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
